name: Build

on: push

jobs:
  build_image:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download
        run: wget https://download.geonames.org/export/dump/AD.zip
      - name: Check Directory
        run: ls -lah && echo ${{ vars.NEW_VAR }}
